.text-messages-list {
  width: 100%;
  padding: 0;
  height: 620px;
  max-height: 700px;
  overflow-y: auto;
  border: none;

  .user-message {
    background-color: #343541;
  }

  .bot-message {
    background-color: #444654;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 100%;

    .message-container {
      width: 700px;
      padding: 10px;

      .message-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #343541;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 950px) {
  .text-messages-list {
    width: 100%;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
  }
}
