.empty-image-chat {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__img {
    width: 130px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  &__heading {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
  }

  &__text {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 400;
  }
}
