.image-messages-list {
  width: 100%;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  border: none;
  padding-bottom: 130px;

  .user-message {
    background-color: #343541;
  }

  .bot-message {
    background-color: #444654;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 100%;

    .message-container {
      width: 700px;
      padding: 10px;

      .bot-image-response {
        width: 250px;
        cursor: pointer;
        border-radius: 5px;
      }

      .message-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #343541;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
