body {
  padding: 0;
  margin: 0;
}

.app {
  background-color: #343541;
  display: flex;
  position: relative;

  .main {
    width: 100%;

    .toggle-sidebar-button {
      height: 40px;
      width: 40px;
      position: absolute;
      top: calc(50% - 30px);
      z-index: 100;
      left: -5px;
      display: none;
    }

    @media screen and (max-width: 950px) {
      .toggle-sidebar-button {
        display: block;
      }

      .toggle-sidebar-button.active {
        display: block;
        left: 280px;
        top: calc(50% - 30px);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// @media screen and (max-width: 950px) {
//   .sidebar {
//     position: absolute;
//     left: 0px;
//     transition: all 0.3s ease;
//     z-index: 100;
//   }
// }
