@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

* {
  color: white;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  background-color: #343541;
  display: flex;

  .sideBar {
    background-color: #202123;
    height: 100vh;
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      border: solid 0.5px rgba(255, 255, 255, 0.5);
      background-color: transparent;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
    }

    .history {
      list-style-type: none;
      padding: 10px;
      height: 100%;

      li {
        cursor: pointer;
        padding: 10px 10px;
        border-radius: 5px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .lower {
      border-top: solid 0.5px rgba(255, 255, 255, 0.5);
      padding: 10px;
      margin: 10px;
    }
  }

  .mainChat {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .bottomSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .inputContainer {
        position: relative;
        width: 100%;
        max-width: 750px;

        input {
          font-size: 16px;
          width: 100%;
          border: none;
          background-color: rgba(255, 255, 255, 0.05);
          padding: 12px 15px;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
            rgba(0, 0, 0, 0.05) 0 -12px 30px, rgba(0, 0, 0, 0.05) 0 4px 6px,
            rgba(0, 0, 0, 0.05) 0 12px 3px, rgba(0, 0, 0, 0.05) 0 -3px 5px;

          &:focus {
            outline: none;
          }
        }

        #submit {
          position: absolute;
          cursor: pointer;
          height: 45px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;

          top: 0;
          right: 0;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }

      .info {
        color: rgba(255, 255, 255, 0.5);
        font-size: 11px;
        padding: 10px;
      }
    }
  }
}
